/* 
Set up variable
 */
:root {
    --primary-color: #ee4d2d;
    --primary-gradient: linear-gradient(-180deg,#f53d2d,#f63);
    --white-color: #fff;
    --black-color: #000;
    /* Low contrast => decrease eyestrain */
    --text-color: rgba(0,0,0,0.8); 
}

* {
    /* Select all ele inherit box sizing value from parent ele */
    box-sizing: inherit;
}

html {
    /* Default font size in browser ~ 16px => font size = 62,5% (trick) => 1rem = 10px */
    font-size: 62.5%;     
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
}

.p-0 {
    padding: 0!important;
}

.mt-8 {
    margin-top: 8px;
}

/* Point event */
.pe-text:hover {
    cursor: text!important;
    opacity: 1!important;
    color: var(--white-color)!important;
}

.fw-bold {
    font-weight: bold;
}


.grid {
    /* Screen wide > 1200px: w = 1200*/
    width: 1200px;
    /* Screen wide < 1200px: w = 100%*/
    max-width: 100%;
    margin: 0 auto;
}

.grid--full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}