/* Begin: Header Section */
.header {
  /* Header on top. 
  Right, left = 0 => The header'll stick both side => w = 100% */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 88;
  background: var(--primary-gradient);
  height: var(--header-height);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  height: var(--top-nav-height);
}

.top-nav__container {
}

.top-nav__list {
  display: flex;
}

.top-nav__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  user-select: none;
}

.top-nav__icon {
  padding: 0 2px;
}

.top-nav__item + .top-nav__item {
  padding-left: 10px;
}

.top-nav__item.top-nav__separate.pe-text {
  margin-right: 3px;
}

.top-nav__link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.top-nav__item:hover .top-nav__link {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.top-nav__item:hover .top-nav__user-name {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.top-nav__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1.4rem;
}

.top-nav__user-img {
  border-radius: 50%;
  width: 17px;
  height: 17px;
}

.top-nav__user-name {
  margin-left: 5px;
}

/* User menu dropdown */
.user-menu {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  z-index: 8888;
  width: 140%;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border-radius: 2px;
  transform-origin: 70% top;
  /* Browser will optimize those properties in this class */
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  /* transition: all linear 1s; */
}

.user-menu::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 20%;
  z-index: -1;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.user-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 124px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.user-menu__list {
}

.user-menu__item:last-child {
  border-top: 1px solid #fafafa;
}

.user-menu__item:hover .user-menu__link {
  color: #00bfa5;
  background-color: #fafafa;
}

.user-menu__link {
  display: block;
  padding: 12px 15px;
  font-size: 1.4rem;
  color: var(--black-color);
}

/* Hover top-nav__item */
.top-nav__item:hover .top-nav__download-wrapper,
.top-nav__item:hover .notify-wrapper,
.top-nav__item:hover .language-wrapper,
.top-nav__item:hover .user-menu,
.header-with-search__drawer:hover .header-with-search__selector-list,
.header-with-search__search-input:focus ~ .header-with-search__history-search,
.header-with-search__cart:hover .header-with-search__cart-drawer-wrapper,
.sort-bar__selector:hover .sort-bar__selector-status-dropdown {
  display: block;
}

@keyframes popOut {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popOver {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.top-nav__separate::after {
  content: "";
  display: block;
  height: 1.4rem;
  border-left: 1px solid #f96f5c;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

/* Download Section*/
.top-nav__download-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  width: 184px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 8888;
}

/* Because hover in li => Create pseudo class to make a connection with top-nav__item parent */
.top-nav__download-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 184px;
  height: 20px;
}

.top-nav__download {
  display: flex;
  flex-flow: column nowrap;
  background: var(--white-color);
}

.top-nav__qr-wrapper {
  display: flex;
}

.top-nav__qr {
  width: 180px;
  margin: 0 auto;
}

.top-nav__apps-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 4px auto;
}

.top-nav__app-wrapper {
  width: 70px;
}

.top-nav__app-wrapper:last-child {
  margin-top: 4px;
}

.top-nav__app {
  width: 100%;
}

/* Notification Section */
.notify-wrapper {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  width: 402px;
  min-height: 352px;
  background-color: var(--white-color);
  font-size: 1.4rem;
  color: var(--text-color);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* Only clickable have pointer */
  cursor: default;
  user-select: none;
  transform-origin: calc(100% - 20px) top;
  /* Browser will optimize those properties in this class */
  will-change: opacity, transform;
  animation: popOut ease-in 1s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  z-index: 8888;
}

.notify-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 4px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

/* Optimized UI, when user hover they will unexpectedly disappear   */
.notify-wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.notify {
}

.notify__header {
  display: flex;
  align-items: center;
  text-align: left;
  width: 400px;
  height: 40px;
}

.notify__header h3 {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.notify__body {
}

.notify__list {
  padding-left: 0;
  list-style-type: none;
}

.notify__item-wrapper {
  background-color: rgba(238, 77, 45, 0.08);
}

.notify__item-wrapper:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.notify__item {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: var(--text-color);
}

.notify__img {
  width: 40px;
}

.notify__info-wrapper {
  padding: 0 10px;
}

.notify__item-heading {
  margin: 0;
}

.notify__item-desc {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.2rem;
}

.notify__footer {
  height: 40px;
  text-align: center;
}

.notify__footer-link {
  display: inline-block;
  padding: 12px 20px;
  color: var(--text-color);
  text-decoration: none;
  /* font-size: 1.4rem; */
}

/* Language Section */
.language-wrapper {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 2px;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-origin: calc(100% - 26px) top;
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  z-index: 8888;
}

.language-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  width: 97px;
  height: 20px;
}

.language-wrapper::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 26px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  z-index: -1;
}

.language {
  display: block;
}

.language__item {
  display: block;
  padding-left: 10px;
  color: #000;
  line-height: 40px;
  text-decoration: none;
}

.language__item:hover {
  color: var(--primary-color);
  background-color: #fafafa;
}

/* Header with search */
.header-with-search {
  display: flex;
  align-items: center;
  height: var(--header-with-search);
}

/* Header with search logo */
.header-with-search__logo-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  cursor: pointer;
}

.header-with-search__logo-link {
  /* Old browser such as IE will has error when wrap logo, or img by using tag a */
  text-decoration: none;
  color: transparent;
}

.header-with-search__logo {
  width: 150px;
}

.header-with-search__search-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  flex-grow: 1;
  border-radius: 2px;
  height: var(--header-with-search);
}

/* Header with search search input */
.header-with-search__search {
  position: relative;
  display: flex;
  padding-right: 3px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 2px;
}

.header-with-search__search-input {
  position: relative;
  flex: 1;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
}

/* Header with search history */
.header-with-search__history-search {
  display: none;
  position: absolute;
  top: 110%;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  z-index: 888;
}

.header-with-search__history-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header-with-search__history-entry {
  padding: 0 12px;
  height: 38px;
  line-height: 38px;
}

.header-with-search__history-entry:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.header-with-search__history-entry:first-child:hover {
  background-color: var(--white-color);
  cursor: pointer;
}

.header-with-search__history-heading {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.4);
}

.header-with-search__history-entry-text {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
}

/* Header with search drawer */
.header-with-search__drawer {
  position: relative;
  display: flex;
  align-items: center;
  width: 148px;
  height: 34px;
  z-index: 888;
}

.header-with-search__drawer:hover {
  cursor: pointer;
}

.header-with-search__selected {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 10px;
}

.header-with-search__selector-label {
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  padding: 4px 0 4px 15px;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-with-search__selected-icon {
}

.header-with-search__selector-list {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 148px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09);
}

.header-with-search__selector-list::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.header-with-search__selector-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px 4px 12px;
  min-height: 40px;
}

.header-with-search__selector-option:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.header-with-search__option-label {
  display: block;
  font-size: 1.4rem;
}

.header-with-search__checked-icon {
  color: var(--primary-color);
}

.header-with-search__search-icon-wrapper {
  width: 60px;
}

.header-with-search__search-icon-wrapper:hover {
  opacity: 0.8;
}

.btn.btn--primary.header-with-search__search-btn {
  min-width: 60px;
}

.header-with-search__suggestion {
  display: flex;
  flex-basis: 28px;
  align-items: center;
  font-size: 12px;
  color: white;
}

.header-with-search__suggestion-item {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  text-transform: capitalize;
}

.header-with-search__suggestion-item + .header-with-search__suggestion-item {
  margin-left: 12px;
}

.header-with-search__cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.header-with-search__cart {
  /* display: block; */
  position: relative;
  padding: 16px;
}

.header-with-search__cart:hover {
  cursor: pointer;
}

.header-with-search__cart-link {
  display: block;
}

.header-with-search__cart-icon {
  color: var(--white-color);
  font-size: 2.2rem;
}

.cart__badge {
  position: absolute;
  top: 6px;
  right: 4px;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 14px;
  padding: 0 7px;
  z-index: 88;
  font-size: 1.4rem;
  border: 2px solid;
}

.header-with-search__cart-drawer-wrapper {
  display: none;
  position: absolute;
  top: 92%;
  right: -1px;
  z-index: 888;
  width: 400px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  cursor: default;
  user-select: none;
  transform-origin: calc(100% - 10px) top;
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
}

.header-with-search__cart-drawer-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 4px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header-with-search__cart-drawer-wrapper::after {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  width: 80px;
  height: 20px;
  cursor: pointer;
  /* background-color: red; */
}

.header-with-search__cart-drawer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* Has cart */
.header-with-search__cart-drawer-list {
  padding: 0;
  margin: 0;
  /* font-size: 0;    */
  width: 100%;
  max-height: 30vh;
  overflow-y: auto;
}

.header-with-search__cart-drawer-heading {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.24);
  text-transform: capitalize;
}

.header-with-search__cart-drawer-item {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  padding: 10px;
}

.header-with-search__cart-drawer-item:hover {
  background-color: #f8f8f8;
  cursor: text;
}

.header-with-search__cart-drawer-item-img {
  border: 1px solid #fafafa;
  width: 42px;
}

.header-with-search__cart-drawer-item-detail {
  justify-content: space-between;
  align-items: flex-start;
  width: 328px;
  height: 100%;
}

.header-with-search__cart-drawer-item-name {
  font-size: 1.4rem;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-with-search__cart-drawer-item-gift {
  color: #ee4d2d;
  border: 1px solid;
  margin-right: 4px;
  white-space: nowrap;
  padding: 0 2px;
}

.header-with-search__cart-drawer-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-left: 40px;
}

.header-with-search__cart-drawer-item:last-child {
  justify-content: flex-end;
}

.header-with-search__cart-drawer-item:last-child:hover {
  background-color: var(--white-color);
}

.header-with-search__cart-drawer-check-btn {
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  width: 122px;
}

.header-with-search__cart-drawer-check-btn:hover {
  background-color: #f05d40;
}

/* No cart */

.no-cart-img {
  display: none;
  width: 100px;
}

.no-cart-text {
  display: none;
  font-size: 14px;
  margin-top: 16px;
  color: var(--text-color);
}

.header-with-search__cart-empty .header-with-search__cart-drawer {
  padding: 60px 0;
}

.header-with-search__cart-empty .no-cart-img,
.header-with-search__cart-empty .no-cart-text {
  display: block;
}

.header-with-search__cart-empty .header-with-search__cart-drawer-list {
  display: none;
}

/* Header sort bar show in mobile and tablet */
.header__sort-bar {
  display: none;
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  z-index: 88;
  background-color: var(--white-color);
  list-style: none;
  height: var(--header-sort-bar);
  text-align: center;
  line-height: var(--header-sort-bar);
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__sort-bar-item {
  position: relative;
  flex: 1;
}

.header__sort-bar-link {
  display: block;
  text-decoration: none;
}

.header__sort-bar-link::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  transform: translateY(-50%);
}

.header__sort-bar-item:first-child
.header__sort-bar-link::before {
  display: none;
}

.header__sort-bar-link .header__sort-bar-icon {
  font-size: 1.2rem;
  margin-left: 4px;
  padding-bottom: 5px;
}

.header__sort-bar-link--active {
  color: var(--primary-color);
}

/* End: Header Section */

/* Begin: App Container Section */
/* Category */
.app__container {
  margin-top: var(--header-height);
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 30px;
  padding-bottom: 80px;
}

.category-wrapper {
}

.category__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.category__heading-icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.category-list {
}

.category-item {
  position: relative;
}

.category-item__link {
  display: block;
  font-size: 1.4rem;
  padding: 8px 10px 8px 12px;
  line-height: 2rem;
}

.category-item__link.category-item--active {
  color: var(--primary-color);
}

.category-item--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-width: 4px 6px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
}

/* Product list */
.product-list {
}

/* Sort bar */
.sort-bar {
  display: flex;
  align-items: stretch;
  padding: 13px 20px;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 1.4rem;
  color: var(--text-color);
  height: 60px;
  border-radius: 2px;
}

.sort-bar__label {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.sort-bar__options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: stretch;
}

.sort-bar__option {
  min-width: fit-content;
  padding: 0 15px;
  height: 100%;
}

.sort-bar__option:first-child {
  margin-left: 10px;
}

.sort-bar__option + .sort-bar__option {
  margin-left: 10px;
}

.sort-bar__selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  width: 200px;
  height: 100%;
  background-color: var(--white-color);
  padding-right: 10px;
  padding-left: 12px;
}

.sort-bar__selector-status {
}

.sort-bar__selector-status-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  width: 100%;
  padding: 10px 0;
  background-color: var(--white-color);
  line-height: 3.4rem;
  z-index: 88;
}

.sort-bar__selector-status-dropdown-item {
  padding: 0 12px 0 15px;
}

.sort-bar__selector-status-dropdown-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Mini pagination */
.mini-pagination-controller {
  display: flex;
}

.mini-pagination-controller__state {
  display: flex;
  align-items: center;
}

.mini-pagination-controller__current {
  color: var(--primary-color);
}

.mini-pagination-controller__total {
}

.mini-pagination-controller__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  padding: 1px 6px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  background-color: var(--white-color);
}

.mini-pagination-controller__btn--disabled {
}

.mini-pagination-controller__prev-btn {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 20px;
  border-right: 1px solid #f2f2f2;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.mini-pagination-controller__next-btn {
}

/* Product view list */
.product-view__wrapper {
  margin-top: 10px;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  transition: transform linear 0.1s;
}

.product-view__wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
}

.product-view {
  position: relative;
}

.product-view__img-wrapper {
}

.product-view__img {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
  object-fit: contain;
}

.product-view__content {
  padding: 8px;
}

.product-view__name {
  margin: 0;
  font-size: 1.2rem;
  color: var(--black-color);
  font-weight: 300;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* 2 line with ... */
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-view__promotion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
  font-size: 1rem;
}

.product-view__discount-wrapper {
  display: flex;
  margin-right: 4px;
}

._2DRZW {
  height: 1.6rem;
  color: rgb(246, 145, 19);
}

.product-view__discount {
  line-height: 1.6rem;
  color: var(--white-color);
  background-color: rgb(246, 145, 19);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-view__special-tag {
  padding: 2px 4px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  line-height: 1rem;
}

.product-view_total {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.product-view__price {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-view__price-from {
}

.product-view__price-to {
}

.product-view__shipping {
  display: flex;
  margin: auto;
}

.product-view__feedback {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}

.product-view__rating {
  color: rgba(0, 0, 0, 0.24);
  font-size: 1rem;
}

.product-view__rating-star.product-view__rating-star--rated {
  color: #ffce3d;
}

.product-view__sale-amount {
  font-size: 1.2rem;
  margin-left: 4px;
}

.product-view__origin {
  margin-top: 8px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.product-view__favorite-badge {
  position: absolute;
  top: 10px;
  left: -3px;
  padding: 0 3px;
  /* Set currentColor => when change color the ele::before will change also  */
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.product-view__favorite-badge-text {
  width: 20px;
  height: 16px;
  background: content-box center/contain no-repeat
    url(../img/badge/mall-badge.png);
}

.product-view__favorite-badge span {
  color: var(--white-color);
}

.product-view__favorite-badge::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  /* Technical to make sticker */
  border-top: 2px solid currentColor;
  border-left: 2px solid transparent;
  filter: brightness(60%);
}

.product-view__discount-badge {
  position: absolute;
  top: 0px;
  right: 0;
  width: 36px;
  height: 32px;
  padding: 4px 2px 3px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  /* Set currentColor => when change color the ele::before will change also  */
  color: rgba(255, 212, 36, 0.9);
  background-color: currentColor;
}

/* Create leg for discount badge */
.product-view__discount-badge:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  border-width: 0 18px 4px 18px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor;
}

.product-view__discount-badge-rate {
  display: block;
  color: var(--primary-color);
}

.product-view__discount-badge span:last-child {
  color: var(--white-color);
  text-transform: uppercase;
}

/* Pagination */
.shop-page-pagination {
  margin-top: 40px;
}

/* End: App Container Section */

/* Begin: Modal */
.modal-header {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
}

.modal-header__heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

.modal-header__switch-btn {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
}

.modal__container {
  background-color: var(--white-color);
  padding: 0 32px 20px;
}

.auth-form__group {
  display: flex;
}

.auth-form__group + .auth-form__group {
  margin-top: 16px;
}

.auth-form__input {
  flex-grow: 1;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
}

.auth-form__input:focus {
  border: 1px solid #888;
}

.btn.auth-form__input:focus {
  border: none;
}

.auth-terms {
  margin-top: 20px;
  padding: 0 12px;
  font-size: 1.2rem;
  text-align: center;
}

.auth-terms__link {
  color: var(--primary-color);
  text-decoration: none;
  line-height: 1.4;
}

.auth-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 80px;
}

.auth-controls__btn {
  text-transform: uppercase;
}

.auth-controls__btn-wrapper:first-child .auth-controls__btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.auth-controls__btn-wrapper + .auth-controls__btn-wrapper {
  margin-left: 8px;
}

.modal-footer {
  padding: 16px 32px;
  background-color: #f5f5f5;
}

.auth-social {
  display: flex;
  justify-content: space-between;
}

.auth-social__item {
  flex-basis: 210px;
  border-radius: 2px;
}

.auth-social__item:first-child,
.auth-social__item:first-child .auth-social__btn {
  background-color: #3a5a98;
}

.auth-social__btn {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  border-radius: 2px;
}

.auth-social__icon {
  flex-basis: 36px;
  font-size: 2.2rem;
}

.auth-social__text {
  flex: 1;
  font-size: 1.2rem;
}

/* Login */
.auth-forget {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.auth-forget__item {
  flex-basis: 100px;
  text-align: right;
  font-size: 1.2rem;
  color: var(--text-color);
}

.auth-forget__item + .auth-forget__item {
  position: relative;
  margin-left: 10px;
}

.auth-forget__separate::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  height: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
}

.auth-forget__text {
  text-align: right;
}
/* End: Modal */

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
}

.footer-terms-wrapper {
  padding-bottom: 120px;
}

.footer-terms-item-wrapper {
  display: flex;
}

.footer-terms-item {
  display: flex;
  align-items: center;
  height: 121px;
}

.footer-terms__img {
  width: 50px;
  margin-right: 12px;
}

.footer-terms__content p {
  max-width: 275px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.8rem;
}

.footer-terms-return {
  margin-right: auto;
}

.footer-terms-protect {
  margin: 0 auto;
}

.footer-terms-shipping {
  margin-left: auto;
}

/* Footer info */

.footer-info-wrapper {
  background-color: #fbfbfb;
  font-size: 1.2rem;
  color: var(--text-color);
}

.footer-info {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.footer-info__col {
  padding: 5px;
}

.footer-info__heading {
  font-size: 1.2rem;
  margin: 40px 0 20px;
  color: rgba(0, 0, 0, 0.87);
}

.footer-info__list {
}

.footer-info__item {
}

.footer-info__item + .footer-info__item {
  margin-top: 12px;
}

.footer-info__item-link {
  text-decoration: none;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.65);
}

.footer-info__item-link:hover {
  color: var(--primary-color);
}

.footer-info__shipper-list,
.footer-info__payment-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.footer-info__shipper-item,
.footer-info__payment-item {
  background-color: var(--white-color);
  margin: 0 8px 8px 0;
  width: 60px;
  height: 30px;
  padding: 4px;
  background-color: var(--white-color);
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  border-radius: 2px;
}

.footer-info__shipper-item + .footer-info__shipper-item,
.footer-info__payment-item + .footer-info__payment-item {
  margin-top: 0;
}

.footer-info__shipper-link,
.footer-info__payment-link {
  display: block;
  text-decoration: none;
  background-color: transparent;
}

.footer-info__heading.footer-info__shipper-heading {
  margin-top: 0;
}

.footer-info__item-brands-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  margin-right: 8px;
}

.footer-info__download-list {
  display: flex;
  align-items: flex-start;
}

.footer-info__item.footer-info__download-item {
  margin-top: 0;
}

.footer-info__download-item:first-child {
  margin-right: 12px;
  height: 102px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.footer-info__download-item:last-child {
  display: flex;
  flex-direction: column;
  min-height: 102px;
  justify-content: space-between;
  align-items: center;
}

.footer-info__download-link {
  background-color: var(--white-color);
  display: block;
}

.footer-info__download-img {
  min-width: 102px;
  height: 102px;
  padding: 4px;
}

.footer-info__download-store-link {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  border-radius: 2px;
  width: 100%;
}

.footer-info__download-store-link + .footer-info__download-store-link {
  margin-top: 8px;
}

.footer-info__download-store-img {
  width: 68;
  height: 16px;
}

/* Footer more info */

.footer-more-info-wrapper {
  background-color: #fbfbfb;
}

.footer-more-info {
  color: rgba(0, 0, 0, 0.54);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.footer-more-info__left {
  margin-right: 25px;
  white-space: nowrap;
}

.footer-more-info__right {
  display: flex;
  text-align: center;
}

.footer-more-info__right-item {
  display: inline-block;
}

.footer-more-info__right-item + .footer-more-info__right-item {
  border-left: 1px solid rgba(0, 0, 0, 0.24);
}

.footer-more-info__right-link {
  display: block;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 2rem;
}

.footer-last-info-wrapper {
  background-color: #f5f5f5;
  font-size: 1.4rem;
  padding: 40px 0;
  text-align: center;
}

.footer-last-info-first {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-last-info-first__list {
  display: flex;
  justify-content: space-evenly;
}

.footer-last-info-first__item {
  padding: 0 25px;
}

.footer-last-info-first__item + .footer-last-info-first__item {
  margin-left: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.footer-last-info-first__link {
  color: rgba(0, 0, 0, 0.65);
}

.footer-last-info-second {
  display: flex;
  justify-content: center;
}

.footer-last-info-second__list {
  display: flex;
}

.footer-last-info-second__item {
}

.footer-last-info-second__link {
  display: block;
  width: 120px;
  height: 45px;
  background: center/contain
    url(../img/footer/terms/logo-da-dang-ky-bo-cong-thuong.jpg) no-repeat;
  margin: 0 20px;
}

.footer-last-info-third-wrapper {
}

.footer-last-info-third__list {
}

.footer-last-info-third__item:first-child {
  margin: 8px 0 25px;
}

.footer-last-info-third__item + .footer-last-info-third__item {
  margin-top: 8px;
}

.footer-last-info-third__text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.2rem;
}

.footer-last-info-third__link {
  color: var(--primary-color);
}
