/* Begin: Header Section */
.header {
  /* Header on top. 
  Right, left = 0 => The header'll stick both side => w = 100% */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--primary-gradient);
  height: var(--header-height);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  height: var(--top-nav-height);
}

.top-nav__container {
}

.top-nav__list {
  display: flex;
}

.top-nav__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  user-select: none;
}

.top-nav__icon {
  padding: 0 2px;
}

.top-nav__item + .top-nav__item {
  padding-left: 10px;
}

.top-nav__item.top-nav__separate.pe-text {
  margin-right: 3px;
}

.top-nav__link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.top-nav__item:hover .top-nav__link {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.top-nav__item:hover .top-nav__user-name {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.top-nav__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1.4rem;
}

.top-nav__user-img {
  border-radius: 50%;
  width: 17px;
  height: 17px;
}

.top-nav__user-name {
  margin-left: 5px;
}

/* User menu dropdown */
.user-menu {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  z-index: 8888;
  width: 140%;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border-radius: 2px;
  transform-origin: 70% top;
  /* Browser will optimize those properties in this class */
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  /* transition: all linear 1s; */
}

.user-menu::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 20%;
  z-index: -1;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.user-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 124px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.user-menu__list {
}

.user-menu__item:last-child {
  border-top: 1px solid #fafafa;
}

.user-menu__item:hover .user-menu__link {
  color: #00bfa5;
  background-color: #fafafa;
}

.user-menu__link {
  display: block;
  padding: 12px 15px;
  font-size: 1.4rem;
  color: var(--black-color);
}

/* Hover top-nav__item */
.top-nav__item:hover .top-nav__download-wrapper,
.top-nav__item:hover .notify-wrapper,
.top-nav__item:hover .language-wrapper,
.top-nav__item:hover .user-menu,
.header-with-search__drawer:hover .header-with-search__selector-list,
.header-with-search__search-input:focus ~ .header-with-search__history-search,
.header-with-search__cart:hover .header-with-search__cart-drawer-wrapper {
  display: block;
}

@keyframes popOut {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popOver {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.top-nav__separate::after {
  content: "";
  display: block;
  height: 1.4rem;
  border-left: 1px solid #f96f5c;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

/* Download Section*/
.top-nav__download-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  width: 184px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 8888;
}

/* Because hover in li => Create pseudo class to make a connection with top-nav__item parent */
.top-nav__download-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 184px;
  height: 20px;
}

.top-nav__download {
  display: flex;
  flex-flow: column nowrap;
  background: var(--white-color);
}

.top-nav__qr-wrapper {
  display: flex;
}

.top-nav__qr {
  width: 180px;
  margin: 0 auto;
}

.top-nav__apps-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 4px auto;
}

.top-nav__app-wrapper {
  width: 70px;
}

.top-nav__app-wrapper:last-child {
  margin-top: 4px;
}

.top-nav__app {
  width: 100%;
}

/* Notification Section */
.notify-wrapper {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  width: 402px;
  min-height: 352px;
  background-color: var(--white-color);
  font-size: 1.4rem;
  color: var(--text-color);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* Only clickable have pointer */
  cursor: default;
  user-select: none;
  transform-origin: calc(100% - 20px) top;
  /* Browser will optimize those properties in this class */
  will-change: opacity, transform;
  animation: popOut ease-in 1s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  z-index: 8888;
}

.notify-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 4px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

/* Optimized UI, when user hover they will unexpectedly disappear   */
.notify-wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.notify {
}

.notify__header {
  display: flex;
  align-items: center;
  text-align: left;
  width: 400px;
  height: 40px;
}

.notify__header h3 {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.notify__body {
}

.notify__list {
  padding-left: 0;
  list-style-type: none;
}

.notify__item-wrapper {
  background-color: rgba(238, 77, 45, 0.08);
}

.notify__item-wrapper:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.notify__item {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: var(--text-color);
}

.notify__img {
  width: 40px;
}

.notify__info-wrapper {
  padding: 0 10px;
}

.notify__item-heading {
  margin: 0;
}

.notify__item-desc {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.2rem;
}

.notify__footer {
  height: 40px;
  text-align: center;
}

.notify__footer-link {
  display: inline-block;
  padding: 12px 20px;
  color: var(--text-color);
  text-decoration: none;
  /* font-size: 1.4rem; */
}

/* Language Section */
.language-wrapper {
  display: none;
  position: absolute;
  top: 160%;
  right: 0;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 2px;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-origin: calc(100% - 26px) top;
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  /* Support for multi browser (opt) */
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  z-index: 8888;
}

.language-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  width: 97px;
  height: 20px;
}

.language-wrapper::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 26px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  z-index: -1;
}

.language {
  display: block;
}

.language__item {
  display: block;
  padding-left: 10px;
  color: #000;
  line-height: 40px;
  text-decoration: none;
}

.language__item:hover {
  color: var(--primary-color);
  background-color: #fafafa;
}

/* Header with search */
.header-with-search {
  display: flex;
  align-items: center;
  height: var(--header-with-search);
}

/* Header with search logo */
.header-with-search__logo-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  cursor: pointer;
}

.header-with-search__logo-link {
  /* Old browser such as IE will has error when wrap logo, or img by using tag a */
  text-decoration: none;
  color: transparent;
}

.header-with-search__logo {
  width: 150px;
}

.header-with-search__search-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  flex-grow: 1;
  border-radius: 2px;
  height: var(--header-with-search);
}

/* Header with search search input */
.header-with-search__search {
  display: flex;
  padding-right: 3px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 2px;
}

.header-with-search__search-input-wrapper {
  position: relative;
  flex: 1;
}

.header-with-search__search-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
}

/* Header with search history */
.header-with-search__history-search {
  display: none;
  position: absolute;
  top: 110%;
  width: 630px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  z-index: 888;
}

.header-with-search__history-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header-with-search__history-entry {
  padding: 0 12px;
  height: 38px;
  line-height: 38px;
}

.header-with-search__history-entry:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.header-with-search__history-entry:first-child:hover {
  background-color: var(--white-color);
  cursor: pointer;
}

.header-with-search__history-heading {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.4);
}

.header-with-search__history-entry-text {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
}

/* Header with search drawer */
.header-with-search__drawer {
  position: relative;
  display: flex;
  align-items: center;
  width: 148px;
  height: 34px;
  z-index: 888;
}

.header-with-search__drawer:hover {
  cursor: pointer;
}

.header-with-search__selected {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 10px;
}

.header-with-search__selector-label {
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  padding: 4px 0 4px 15px;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-with-search__selected-icon {
}

.header-with-search__selector-list {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 148px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09);
}

.header-with-search__selector-list::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.header-with-search__selector-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px 4px 12px;
  min-height: 40px;
}

.header-with-search__selector-option:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.header-with-search__option-label {
  display: block;
  font-size: 1.4rem;
}

.header-with-search__checked-icon {
  color: var(--primary-color);
}

.header-with-search__search-icon-wrapper {
  width: 60px;
}

.header-with-search__search-icon-wrapper:hover {
  opacity: 0.8;
}

.btn.btn--primary.header-with-search__search-btn {
  min-width: 60px;
}

.header-with-search__suggestion {
  display: flex;
  flex-basis: 28px;
  align-items: center;
  font-size: 12px;
  color: white;
}

.header-with-search__suggestion-item {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  text-transform: capitalize;
}

.header-with-search__suggestion-item + .header-with-search__suggestion-item {
  margin-left: 12px;
}

.header-with-search__cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.header-with-search__cart {
  position: relative;
  padding: 16px;
}

.header-with-search__cart:hover {
  cursor: pointer;
}

.header-with-search__cart-icon {
  color: var(--white-color);
  font-size: 2.2rem;
}

.cart__badge {
  position: absolute;
  top: 6px;
  right: 4px;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 14px;
  padding: 0 7px;
  z-index: 88;
  font-size: 1.4rem;
  border: 2px solid;
}

.header-with-search__cart-drawer-wrapper {
  display: none;
  position: absolute;
  top: 92%;
  right: -1px;
  width: 400px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
  cursor: default;
  user-select: none;
  transform-origin: calc(100% - 10px) top;
  will-change: opacity, transform;
  animation: popOut ease-in 0.2s;
  -o-animation: popOut ease-in 0.2s;
  -moz-animation: popOut ease-in 0.2s;
  -webkit-animation: popOut ease-in 0.2s;
  -ms-animation: popOut ease-in 0.2s;
  z-index: 888;
}

.header-with-search__cart-drawer-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 4px;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header-with-search__cart-drawer-wrapper::after {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  width: 80px;
  height: 20px;
  cursor: pointer;
  /* background-color: red; */
}

.header-with-search__cart-drawer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* Has cart */
.header-with-search__cart-drawer-list {
  padding: 0;
  margin: 0;
  /* font-size: 0;    */
  width: 100%;
}

.header-with-search__cart-drawer-heading {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.24);
  text-transform: capitalize;
}

.header-with-search__cart-drawer-item {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  padding: 10px;
}

.header-with-search__cart-drawer-item:hover {
  background-color: #f8f8f8;
  cursor: text;
}

.header-with-search__cart-drawer-item-img {
  border: 1px solid #fafafa;
  width: 42px;
}

.header-with-search__cart-drawer-item-detail {
  justify-content: space-between;
  align-items: flex-start;
  width: 328px;
  height: 100%;
}

.header-with-search__cart-drawer-item-name {
  font-size: 1.4rem;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-with-search__cart-drawer-item-gift {
  color: #ee4d2d;
  border: 1px solid;
  margin-right: 4px;
  white-space: nowrap;
  padding: 0 2px;
}

.header-with-search__cart-drawer-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-left: 40px;
}

.header-with-search__cart-drawer-item:last-child {
  justify-content: flex-end;
}

.header-with-search__cart-drawer-item:last-child:hover {
  background-color: var(--white-color);
}

.header-with-search__cart-drawer-check-btn {
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  width: 122px;
}

.header-with-search__cart-drawer-check-btn:hover {
  background-color: #f05d40;
}

/* No cart */

.no-cart-img {
  display: none;
  width: 100px;
}

.no-cart-text {
  display: none;
  font-size: 14px;
  margin-top: 16px;
  color: var(--text-color);
}

.header-with-search__cart-empty .header-with-search__cart-drawer {
  padding: 60px 0;
}

.header-with-search__cart-empty .no-cart-img,
.header-with-search__cart-empty .no-cart-text {
  display: block;
}

.header-with-search__cart-empty .header-with-search__cart-drawer-list {
  display: none;
}

/* End: Header Section */

/* Begin: Modal */
.modal-header {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
}

.modal-header__heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

.modal-header__switch-btn {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
}

.modal__container {
  background-color: var(--white-color);
  padding: 0 32px 20px;
}

.auth-form__group {
  display: flex;
}

.auth-form__group + .auth-form__group {
  margin-top: 16px;
}

.auth-form__input {
  flex-grow: 1;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
}

.auth-form__input:focus {
  border: 1px solid #888;
}

.btn.auth-form__input:focus {
  border: none;
}

.auth-terms {
  margin-top: 20px;
  padding: 0 12px;
  font-size: 1.2rem;
  text-align: center;
}

.auth-terms__link {
  color: var(--primary-color);
  text-decoration: none;
  line-height: 1.4;
}

.auth-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 80px;
}

.auth-controls__btn {
  text-transform: uppercase;
}

.auth-controls__btn-wrapper:first-child .auth-controls__btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.auth-controls__btn-wrapper + .auth-controls__btn-wrapper {
  margin-left: 8px;
}

.modal-footer {
  padding: 16px 32px;
  background-color: #f5f5f5;
}

.auth-social {
  display: flex;
  justify-content: space-between;
}

.auth-social__item {
  flex-basis: 210px;
  border-radius: 2px;
}

.auth-social__item:first-child,
.auth-social__item:first-child .auth-social__btn {
  background-color: #3a5a98;
}

.auth-social__btn {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  border-radius: 2px;
}

.auth-social__icon {
  flex-basis: 36px;
  font-size: 2.2rem;
}

.auth-social__text {
  flex: 1;
  font-size: 1.2rem;
}

/* Login */
.auth-forget {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.auth-forget__item {
  flex-basis: 100px;
  text-align: right;
  font-size: 1.2rem;
  color: var(--text-color);
}

.auth-forget__item + .auth-forget__item {
  position: relative;
  margin-left: 10px;
}

.auth-forget__separate::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  height: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
}

.auth-forget__text {
  text-align: right;
}
/* End: Modal */
